@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;1,600&family=Roboto+Serif:opsz,wght@8..144,600&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

:root {
  --main-color: #8B2B31;
  --second-color: #F5F5F5;
  --third-color: #d9d9d9;
  --text-color1: #F6E129;
  --text-color2: #000;
  --text-color3: #FFF;
  --text-shadow: 0 0 1em gold;
  --background: linear-gradient(180deg, #8B2B31 0%, rgba(217, 217, 217, 0) 100%);
  --background2: background: linear-gradient(180deg, rgba(139, 43, 49, 0.14) 0%, rgba(217, 217, 217, 0) 100%);
  --background3: linear-gradient(180deg, rgba(139, 43, 49, 0) 0%, #8B2B31 100%);

}


html, body {
  height: auto;
  width: 100vw;
  font-family: 'Roboto Mono', monospace;
  overflow-x: hidden;
}

.section1 {
  width: 100%;
  height: 80%;
  background-color: #8B2B31;
  position: relative;

}

.logo {
  width: auto;
  max-height: 15vh;
  background-color: #FFF;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 1px 1px 2px var(--text-color2);
}

.header {
  display: flex;
  max-width: 80%;
  max-height: 100%;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin: auto;
}

.header>h1 {
  max-height: 100%;
  font-weight: 600;
  font-style: italic;
  font-size: 2.75em;
  color: var(--text-color3);
  text-align: center;
  text-emphasis: 2px;
  text-shadow: 1px 1px 2px var(--text-color2);
  text-shadow: var(--text-shadow);
}

.headline {
  max-width: 70%;
  max-height: 60%;
  margin: auto;
  margin-bottom: 20px;

}


.headline>h1 {
  font-family: 'Roboto Serif', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.15em;
  color: var(--text-color3);
  line-height: 1.35em;
  text-shadow: 1px 1px 2px var(--text-color2);
  margin-bottom: 20px;
}

.headline>h2 {
  font-family: 'Roboto Serif', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.35em;
  color: var(--text-color3);
  text-shadow: 1px 1px 2px var(--text-color2);
}

.headline>h3 {
  font-family: 'Roboto Serif', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.35em;
  color: var(--text-color3);
  text-shadow: 1px 1px 2px var(--text-color2);
}

.headline img {
  padding-right: 0.2em;
  line-height: 1.35em;
  vertical-align: middle;

}

.headline span {
  color: var(--text-color1);
}


.cta-button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 490px;
  height: 75px;
  background: #FAA500;
  border-radius: 1.25em;
  top: 60%;
  left: 30%;
  transform: translate(-50%);
  gap: .25em;
  padding: 0 1.25em;
  border: var(--second-color) 2px solid;

}

.cta-button>h3 {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 600;
  font-size: 1.35em;
  color: var(--text-color2);
  text-shadow: var(--text-color3) 2px 2px;
  padding: .2em;


}

.section2 {
  width: 100%;
  height: fit-content;
  background: linear-gradient(180deg, #8B2B31 0%, rgba(217, 217, 217, 0) 100%);
}

.section2>header {
  padding: 1.25em;
}

.section2 h2 {
  max-width: 400px;
  border-radius: 1.25em;
  padding: 1.25em;
  background-color: var(--main-color);
  color: var(--text-color1);
  border: var(--text-color3)solid 2px;
  margin: auto;
  text-align: center;
}

.section2 .card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  height: fit-content;
  padding: 1em;
  margin: 1.25em auto;
  border-radius: 1.25em;
  background-color: var(--text-color3);

}

.section2 .card-container .elipse {
  max-width: 170px;
  max-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.section2 .card-container .elipse img {
  width: 80%;
  max-height: 80%;
  border-radius: 50%;
  background-color: var(--third-color);
}

.section2 .card-container .elipse p {
  text-align: center;
  font-size: 0.8em;
  font-weight: 600;
}



.section3 {
  margin-top: 0%;
  width: 100%;
  height: fit-content;
  background: linear-gradient(180deg, rgba(139, 43, 49, 0.14) 0%, rgba(217, 217, 217, 0) 100%);

}

.section3 header {
  padding: 1.25em;
}



.section3 .card-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  height: fit-content;
  padding: 1em;
  margin: 1.25em auto;
  border-radius: 1.25em;
  background-color: var(--text-color3);
}

.section3 header h2 {
  max-width: 400px;
  border-radius: 1.25em;
  padding: 1.25em;
  background-color: var(--main-color);
  color: var(--text-color1);
  border: var(--text-color3)solid 3px;
  margin: auto;
  text-align: center;

}

.section3 .footer-content {
  width: 100%;
  height: fit-content;
  padding-left: 2em;
  padding-right: 2em;
}

.footer-content {
  max-width: 100%;
  padding: 1.25em;
  margin: auto;
  text-align: center;
  background-image: linear-gradient(0deg, var(--main-color) 90%, transparent);

}

.footer-content .content p {
  color: var(--text-color2);
  line-height: 1.35em;
  color: var(--text-color1);

}


@media screen and (max-width: 768px) {
  .section1 .header {
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    gap: 0;
  }

  .section1 .header h1 {
    background-color: #451518;
    padding: .5em;
    border-radius: 1em;
    border: var(--text-color1)solid 2px;
    font-size: 1.8em;
  }

  .headline h2 {
    background-color: #451518;
    font-size: 1.35em;
    line-height: 1.25em;
    border: var(--text-color3)solid 2px;
    padding: .5em;
    border-radius: 1em;
    text-align: center;

  }

  .cta-button {
    left: 50%;
    top: 89%;
  }

  .cta-button img {
    width: 59px;
    margin-left: 12px;
  }


}